:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
 
  min-height: 100vh;
  width: 100%;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 3%;
  margin-right: 3%;
}

header {
  /* background: lightgreen; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding:20px; */
  border-radius: 15px;
  padding-right: 70px;
  margin: 10px;
  padding: 1px;
  /* border: solid 1px rgb(205, 205, 205); */
  font-family: "Ubuntu", sans-serif;
}

#avatar {
  background: lightseagreen;
  flex:2;
  border-radius: 15px;
  padding: 50px;
  margin:10px;
  /* height: 150px;
  width: 150px;  */
  min-width: 150px;
}

.boxshadow {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#intro {
  background: lightblue;
  flex:5;
  border-radius: 15px;
  padding: 50px;
  margin:10px;
}

#gallery {
  background: lightcoral;
  border-radius: 15px;
  padding: 50px;
  margin:10px;
  /* background-image: url("src/assets/images/DailyPlanner.jpg"); */

  min-height: 300px;
   /*
  width: auto; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; Resize the background image to cover the entire container */
}

#portfolio {
  
  border-radius: 15px;
  padding: 50px;
  margin:10px;
}

#tools {
  background: lightgoldenrodyellow;
  border-radius: 15px;
  padding: 50px;
  margin:10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

footer {
  background: lightgray;
  border-color: aqua;
  border-width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;
  border-radius: 15px;
  margin: 10px;
  display: flex; 
  justify-content: space-around;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

footer a {
  color: rgb(42, 42, 42);
}

.row {
  display: flex;
}

.parent-portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.portfolio-content {
  background: rgb(247, 247, 247);
  display: flex;
  flex-direction:column;
  /* flex: 1;  */
  /* height: 200px; */
  /* padding: 20px; */
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  border: solid 1px #cbcaca;  
}

.portfolio-row {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-row > div {
  flex: 40%; 
  /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
  
}

.portfolio-content-links {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 8px;
  margin-top: auto;
  background-color: rgba(188, 194, 190, .2);
  border-radius: 0px 0px 15px 15px;
  z-index: 10;  
}
.portfolio-content-links a {
  color: rgb(42, 42, 42);
}

.container-img {
  object-fit: contain;
  max-height: 100%; 
  max-width: 100%;  
}

@media screen and (max-width: 600px) {
  .row {
    display: flex; 
    flex-direction: column;
  }

  
}


